body {
    background-color: #f8f9fa;
}

.game-container {
    margin-top: 50px;
}

.game-title {
    color: #007bff; /* Цвет заголовка */
}

.game-list {
    list-style: none;
    padding: 0;
}

.game-item {
    background-color: #fff;
    border: 1px solid #dee2e6;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}